$size: 136px;

.square {
  border: 3px solid #000;
  font-size: $size / 2;
  line-height: $size;
  height: $size;
  text-align: center;
  width: $size;
  border-radius: 0;
}

.square:focus {
  outline: none;
}
