$colorFonts: #eee;
$colorBg: rgba(56, 161, 251, 1);
$fontSize: 36px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: $colorBg;
  min-height: 100vh;
}

#root {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-board {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  width: auto;
}

.status {
  color: $colorFonts;
}

.game-info {
  font-size: $fontSize;
  color: $colorFonts;
  text-align: center;
}

p {
  text-align: center;
}
